// Make sure the charset is set appropriately
@charset "UTF-8";

// Import Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

// Import Tabzilla
@import url(http://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css);

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Specific Settings
@import "settings";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
//  "foundation/components/visibility",
//  "foundation/components/block-grid",
  "foundation/components/type";
//  "foundation/components/buttons",
//  "foundation/components/forms",
//  "foundation/components/custom-forms",
//  "foundation/components/button-groups",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/split-buttons",
//  "foundation/components/flex-video",
//  "foundation/components/section",
//  "foundation/components/top-bar",
//  "foundation/components/orbit",
//  "foundation/components/reveal",
//  "foundation/components/joyride",
//  "foundation/components/clearing",
//  "foundation/components/alert-boxes",
//  "foundation/components/breadcrumbs",
//  "foundation/components/keystrokes",
//  "foundation/components/labels",
//  "foundation/components/inline-lists",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/side-nav",
//  "foundation/components/sub-nav",
//  "foundation/components/switch",
//  "foundation/components/magellan",
//  "foundation/components/tables",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
//  "foundation/components/dropdown";

/*! ----------------------------------------
   Custom LESS
   by Pascal Finette
----------------------------------------- */
#moztab {
	border-top: 2px solid #fff;
}

#wrapper {
	background: #d4dde4;
	background: -moz-linear-gradient(top, #d4dde4 0%, #eaeff2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4dde4), color-stop(100%,#eaeff2));
	background: -webkit-linear-gradient(top, #d4dde4 0%,#eaeff2 100%);
	background: -o-linear-gradient(top, #d4dde4 0%,#eaeff2 100%);
	background: -ms-linear-gradient(top, #d4dde4 0%,#eaeff2 100%);
	background: linear-gradient(to bottom, #d4dde4 0%,#eaeff2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4dde4', endColorstr='#eaeff2',GradientType=0 );
}

// Monkey-Patch
#tabzilla-contents {
	padding: 0;
}