// Make sure the charset is set appropriately
@charset "UTF-8";

// Import Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

// Import Tabzilla
@import url(http://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css);

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Specific Settings
@import "settings";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
//  "foundation/components/visibility",
//  "foundation/components/block-grid",
  "foundation/components/type";
//  "foundation/components/buttons",
//  "foundation/components/forms",
//  "foundation/components/custom-forms",
//  "foundation/components/button-groups",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/split-buttons",
//  "foundation/components/flex-video",
//  "foundation/components/section",
//  "foundation/components/top-bar",
//  "foundation/components/orbit",
//  "foundation/components/reveal",
//  "foundation/components/joyride",
//  "foundation/components/clearing",
//  "foundation/components/alert-boxes",
//  "foundation/components/breadcrumbs",
//  "foundation/components/keystrokes",
//  "foundation/components/labels",
//  "foundation/components/inline-lists",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/side-nav",
//  "foundation/components/sub-nav",
//  "foundation/components/switch",
//  "foundation/components/magellan",
//  "foundation/components/tables",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
//  "foundation/components/dropdown";

/*! ----------------------------------------
   Custom LESS
   by Pascal Finette
----------------------------------------- */
#outerwrapper {
	border-top: 2px solid #FFF;
	background: #D7D3C8;
	background: -moz-linear-gradient(top, #D7D3C8 0%, #F6F4EC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D7D3C8), color-stop(100%,#F6F4EC));
	background: -webkit-linear-gradient(top, #D7D3C8 0%,#F6F4EC 100%);
	background: -o-linear-gradient(top, #D7D3C8 0%,#F6F4EC 100%);
	background: -ms-linear-gradient(top, #D7D3C8 0%,#F6F4EC 100%);
	background: linear-gradient(to bottom, #D7D3C8 0%,#F6F4EC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7D3C8', endColorstr='#F6F4EC',GradientType=0 );
}

#wrapper {
	background: url('../img/grain.png');
}

// Monkey-Patch
#tabzilla-panel *,
#tabzilla-panel *:before,
#tabzilla-panel *:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}